<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Define the beans Here -->

<context:annotation-config></context:annotation-config>
<context:component-scan base-package="hsbc"></context:component-scan>
	<bean id='cust1' class='hsbc.Customer' scope='prototype'>
		<property name='customerId' value='100'></property>
		<property name='name' value='Reliance Ltd'></property>
		<property name='amount' value='50000'></property>
	</bean>


<!--
	<bean id='add1' class='hsbc.Address'>
	<property name='building' value="26 liviano"></property>
	<property name='street' value="Abc Street"></property>
	<property name='city' value="Pune"></property>

	</bean>
-->	

</beans>